{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'minesite/css/style.css' %}">
    {% block extrahead %}
    {% endblock %}
</head>
<body>
<img src="{% static 'minesite/img/wallpaperflare.com_wallpaper.jpg' %}" alt="background" class="background">
<div class="header">
    {% block header %}
    {% endblock %}
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>