{% extends 'minesite/base.html' %}
{% load static %}

{% block header %}
    {% include "minesite/header.html" %}
{% endblock %}

{% block content %}
    <div class="content-container download-launcher-content-container" style="margin-top: 95px">
        <div class="download-panel">
            <p class="text-h1">Скачать</p>
            <p class="text-h2" style="margin-top: 93px;">Чтобы играть на нашем проекте вам потребуется лаунчер</p>
            <p class="text-h2">Вы можете скачать его здесь</p>
            <div class="download-block" onclick="window.location.href='{{ download_launcher_link }}'" style="margin-top: 36px">
                <img alt="downloadImage" src="{% static 'minesite/img/minecraft_logo_icon_168974 1.svg' %}">
                <p class="text-default">Загрузить клиент</p>
            </div>
        </div>
    </div>
{% endblock %}