{% load static %}
<div class="header-background"></div>
<div class="header-foreground">
        <div class="left-side">
            <p class="logo-text" onclick="window.location.href='/'">MadnessLauncher</p>
        </div>
        <div class="right-side">
            <div class="nav">

                <div class="nav-item" style="margin-right: 59px"><a href="/">Главная</a></div>
                <div class="nav-item" style="margin-right: 59px"><a href="/">Магазин</a></div>
                <div class="nav-item"><a href="/">Форум</a></div>
            </div>
            <div class="user">
                {% if user.is_anonymous %}
                    <a href="/login" style="margin-right: 17px">Вход</a>
                {% else %}
                    <a href="/profile" style="margin-right: 17px">{{ user.nickname }}</a>
                    <div class="profile-head" style="background: url({% if user.skin == None or user.skin == ''%}{% static 'minesite/img/default_skin.png' %}{% else %}{{ user.skin.url }}{% endif %}) no-repeat; background-size: 360px 360px; background-position: -43px -40px;">
                {% endif %}
            </div>
        </div>
</div>