{% extends 'minesite/base.html' %}

{% block header %}
    {% include "minesite/header.html" %}
{% endblock %}

{% block content %}
    <div class="content-container index-content-container" style="margin-top: 95px">
        <div class="servers-panel">
            <p class="text-h1">Серверы</p>
            <div class="servers-container">
                {% for server in servers %}
                <div class="server-item">
                    {% if server.online %}
                    <div class="left-side"><div class="online-circle"></div></div>
                    {% else %}
                    <div class="left-side"><div class="offline-circle"></div></div>
                    {% endif %}
                    <div class="right-side">
                        <div class="up-row">
                            <p>{{ server.name }}</p><p>{{ server.players_now }}/{{ server.players_max }}</p>
                        </div>
                        <div class="down-row">
                            <p>{{ server.host }}:{{ server.port }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="submit-button" type="button" onclick="window.location.href='/download-launcher'" style="margin-top: 47px">ИГРАТЬ</button>
        </div>
        <div class="news-panel">
            <p class="text-h1">Новости</p>
            <div class="ads-container">
                {% for post in posts %}
                <div class="ad-container">
                    {% if post.image %}
                    <div class="ad-image-container">
                        <img class="ad-image" alt="ad_image" src="{{ post.image }}">
                    </div>
                    {% endif %}
                    <p class="text-h2">{{ post.header }}</p>
                    <p class="text-default">{{ post.text }}</p>
                    <div class="ad-underline">
                        <p class="text-hint">создано {{ post.created_at }} пользователем {{ post.creator }}</p>
                        <div class="underline"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}