{% extends 'minesite/base.html' %}

{% block content %}
    <div class="login-container">
        <form action="/login/" method="post" class="login-background">{% csrf_token %}
            <p class="text-h1"  style="margin-top: 21px">ВОЙТИ</p>
            <div class="input-field" style="margin-top: 26px">
                <p>Никнейм</p>
                <input type="text" name="nickname" id="nickname" class="input-field-input">
            </div>
            <div class="input-field" style="margin-top: 26px">
                <p>Пароль</p>
                <input type="password" name="password" id="password" class="input-field-input">
            </div>
            <button class="submit-button" value="OK" type="submit" style="margin-top: 26px">ВХОД</button>
            <a href="/register" style="margin-top: 12px">Регистрация</a>
        </form>
    </div>
{% endblock %}