{% extends 'minesite/base.html' %}
{% load static %}

{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/94/three.min.js" integrity="sha256-NGC9JEuTWN4GhTj091wctgjzftr+8WNDmw0H8J5YPYE=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/InventivetalentDev/MineRender@1.4.6/dist/skin.min.js"></script>
{% endblock %}

{% block header %}
    {% include "minesite/header.html" %}
{% endblock %}

{% block content %}
    <div class="content-container profile-content-container" style="margin-top: 95px">
        <div class="profile-panel">
            <p class="text-h1">Профиль</p>
            <div class="profile-data-container">
                <div class="skin-data-container">
                    <div class="skin-container" id="skin-container">

                    </div>
                    <script>
                        let cur_options = {
                            showOutlines: false,    // Debugging - Show bounding boxes
                            showAxes: false,        // Debugging - Show the scene's axes
                            showGrid: false,        // Debugging - Show coordinate grid
                            autoResize: false,      // Whether to automatically resize the canvas
                            controls: {
                                enabled: true,      // Toggle controls
                                zoom: false,         // Toggle zooming
                                rotate: true,      // Toggle rotation
                                pan: false           // Toggle panning
                            },
                            camera: {               // Camera position
                                x: 20,
                                y: 30,
                                z: 30,
                                target: [0, 20, 0]   // Where the camera should look
                            },
                            canvas: {               // Dimensions the canvas starts off with (undefined -> use window size)
                                width: document.getElementById("skin-container").offsetWidth,
                                height: document.getElementById("skin-container").offsetHeight
                            },
                            pauseHidden: true       // Whether to pause animations that aren't currently visible
                        };
                        let skinRender = new SkinRender(cur_options, document.getElementById("skin-container"));
                        let loc = window.location.origin
                        let cur_url = loc + "{% if user.skin == None or user.skin == ''%}{% static 'minesite/img/default_skin.png' %}{% else %}{{ user.skin.url }}{% endif %}"
                        let cur_cape_url = loc + "{% if user.cloak  == None or user.cloak == '' %}''{% else %}{{user.cloak.url}}{% endif %}"
                        console.log(cur_url)
                        console.log(cur_cape_url)
                        {% if user.cloak == None or user.cloak == ''  %}
                            skinRender.render(cur_url)
                            console.log(111111111111111)
                        {% else %}
                        skinRender.render({
                            "url": cur_url,
                            "capeUrl": cur_cape_url
                        });
                        console.log(22222222222222222)
                        {% endif %}
                    </script>
                    <p class="text-default">Установить</p>
                    <div class="install-buttons">
                        <form action="/upload-skin/" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <input type="file" name="skin" accept="image/png" id="id_skin" onchange="form.submit()" style="display: none">
                            <label for="id_skin"><div class="submit-button" style="display: flex;justify-content: center;align-items: center;">СКИН</div></label>
                        </form>
                        <form action="/upload-cloak/" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <input type="file" name="cloak" accept="image/png" id="id_cloak" onchange="form.submit()" style="display: none">
                            <label for="id_cloak"><div class="submit-button" style="display: flex;justify-content: center;align-items: center; margin-left: 10px">ПЛАЩ</div></label>
                        </form>
                    </div>
                </div>
                <div class="profile-info">
                    <p class="text-default">Ник: {{ user.nickname }}</p>
                    <p class="text-default">Баланс: {{ user.balance }}</p>
                    <p class="text-default">Дата регистрации: {{ user.created_at }}</p>
                    <p class="text-default">Дата последнего входа: {{ user.last_login }}</p>
                    <p class="text-default">Дата последнего входа в игру: {{ user.last_game_enter|default_if_none:"Не было" }}</p>
                    <div class="profile-actions-buttons">
                        <button class="submit-button" type="button">ПОПОЛНИТЬ БАЛАНС</button>
                        <form action="/logout/" method="post"> {% csrf_token %}
                        <button class="bad-button" type="submit" style="margin-top: 15px">ВЫХОД</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}