{% extends 'minesite/base.html' %}

{% block content %}
    <div class="register-container">
        <form autocomplete="off" action="/register/" method="post" class="register-background">{% csrf_token %}
            <p class="text-h1"  style="margin-top: 21px">РЕГИСТРАЦИЯ</p>
            <div class="register-inputs-grid" style="margin-top: 28px">
                <div class="register-inputs-grid-column">
                    <div class="input-field">
                        <p>Никнейм</p>
                        <input autocomplete="off" type="text" name="nickname" id="nickname" class="input-field-input">
                    </div>
                    <div class="input-field" style="margin-top: 26px">
                        <p>Пароль</p>
                        <input autocomplete="new-password" type="password" name="password" id="password" class="input-field-input">
                    </div>
                </div>
                <div class="register-inputs-grid-column" style="margin-left: 47px">
                    <div class="input-field">
                        <p>E-mail</p>
                        <input autocomplete="off" type="text" name="email" id="email" class="input-field-input">
                    </div>
                    <div class="input-field" style="margin-top: 26px">
                        <p>Подтвердите пароль</p>
                        <input autocomplete="new-password" type="password" name="password_repeat" id="password_repeat" class="input-field-input">
                    </div>
                </div>
            </div>
            <button class="submit-button" value="OK" type="submit" style="margin-top: 26px">ЗАРЕГИСТРИРОВАТЬСЯ</button>
            <a href="/login" style="margin-top: 12px">Вход</a>
        </form>
    </div>
{% endblock %}