@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.content {
    width: 100%;
    height: 100%;
}

.text-h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;

    color: #E1E1E1;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #E1E1E1;
}

.text-default {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.text-hint {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
}

.input-field {

}

.input-field p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    margin-left: 10px;
    margin-bottom: 12px;

    color: #E1E1E1;
}

.input-field input {
    all:unset;
    width: 313px;
    height: 54px;

    background: #F4ECEC;
    border-radius: 10px;
    padding-left: 20px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #2E2E2E;
}

.submit-button {
    height: 59px;

    padding-left: 51px;
    padding-right: 51px;

    background: #3FBD4C;
    border-radius: 10px;
    border: none;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #E1E1E1;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-button:hover {
    background: #39AF45;
}

.bad-button {
    height: 59px;

    padding-left: 51px;
    padding-right: 51px;

    background: #C70000;
    border-radius: 10px;
    border: none;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #E1E1E1;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bad-button:hover {
    background: #A30000;
}

.online-circle {
    background: #10C700;
    width: 17px;
    height: 17px;
    border-radius: 17px;
}

.offline-circle {
    background: #C70000;
    width: 17px;
    height: 17px;
    border-radius: 17px;
}

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-background {
    width: 408px;
    height: 450px;

    background: rgba(78, 78, 78, 0.85);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-background {
    width: 769px;
    height: 579px;

    background: rgba(78, 78, 78, 0.85);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-background .register-inputs-grid {
    display: flex;
}

.header-background {
    position: absolute;
    width: 100%;
    height: 75px;
    background: #000000;
    top: 0;
    left: 0;
}

.header-foreground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: rgba(78, 78, 78, 0.85);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.header-foreground .left-side {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-foreground .left-side {
    display: flex;
    align-items: center;
    margin-left: 53px;
}

.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */


    color: #E1E1E1;
    cursor: pointer;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-foreground .right-side {
    display: flex;
    align-items: center;
    margin-right: 19px;
}

.header-foreground .nav {
    display: flex;
    align-items: center;
    margin-right: 88px;
}
.header-foreground .nav-item a{
    all: unset;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #E1E1E1;

    cursor: pointer;
}

.header-foreground .user {
    display: flex;
    align-items: center;
}

.header-foreground .user a{
    all: unset;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #E1E1E1;
    cursor: pointer;
}

.header-foreground .user .profile-head{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.content-container {
    padding-left: 44px;
    padding-right: 44px;
}

.index-content-container {
    display: flex;
    justify-content: space-between;
}

.content-container .servers-panel {
    width: 481px;

    background: rgba(78, 78, 78, 0.85);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.26);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 44px;
}

.content-container .server-item {
    display: flex;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    margin-top: 40px;
}

.content-container .server-item .right-side {
    margin-left: 35px;
}

.content-container .server-item .right-side .up-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.news-panel {
    width: 1283px;
    height: fit-content;

    background: rgba(78, 78, 78, 0.85);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.26);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 44px;
}

.news-panel .ads-container {
    padding: 30px 87px 0px;
}

.ad-container {
    margin-top: 28px;
}

.news-panel .ads-container .ad-image-container{
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
}

.news-panel .ads-container .ad-image-container img{
    min-width: 20%;
    max-width: 100%;
}

.news-panel .ads-container .text-default{
    margin-top: 28px;
}

.news-panel .ads-container .ad-underline {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.news-panel .ads-container .ad-underline .underline{
    width: 100%;
    height: 2px;
    background: #D9D9D9;
    margin-top: 9px;
}

.profile-content-container {
    display: flex;
    justify-content: center;
}

.profile-panel {
    width: 968px;
    height: 757px;

    background: rgba(78, 78, 78, 0.85);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.26);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 87px 0px;
}

.profile-panel .profile-data-container{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.profile-panel .profile-data-container .skin-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-panel .profile-data-container .skin-data-container .skin-container {
    width: 360px;
    height: 466px;

    background: #4E4E4E;
    border: 1px solid #000000;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    margin-bottom: 18px;
}

.profile-panel .profile-data-container .skin-data-container .install-buttons {
    margin-top: 19px;
    display: flex;
}

.profile-panel .profile-data-container .profile-info {
    margin-left: 50px;
}

.profile-panel .profile-data-container .profile-info .text-default{
    margin-bottom: 26px;
}

.profile-panel .profile-data-container .profile-info .profile-actions-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-launcher-content-container {
    display: flex;
    justify-content: center;
}

.download-panel {
    width: 968px;
    height: 757px;

    background: rgba(78, 78, 78, 0.85);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.26);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 87px 0px;
}
